<DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Listar pessoas</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/listar_pessoas.css" />
</head>
<body>
    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cor</th>
        </tr>
        <tr>
            <th>João</th>
            <th>7</th>
            <th>Azul</th>
        </tr>
        <tr>
            <th>Maria</th>
            <th>18</th>
            <th>Amarelo</th>
        </tr>
        <tr>
            <th>Loreni</th>
            <th>50</th>
            <th>Preto</th>
        </tr>
    </table>
</body>
</html>